# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
.env

# Ignore logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore test dummy logs, tmp files, and compile caches
/test/dummy/log/*
!/test/dummy/log/.keep
/test/dummy/tmp/*
!/test/dummy/tmp/.keep
/test/dummy/storage/*
!/test/dummy/storage/.keep

# Ignore SQLite databases.
/*.sqlite3
/*.sqlite3-journal
/*.sqlite3-[0-9]*
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal
/test/dummy/db/*.sqlite3-[0-9]*

# Ignore credentials master keys
/test/dummy/config/master.key

# Ignore generated gem packages
/pkg/
/*.gem
